header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px 10px;
    background: white;
    border-bottom: 1px solid var(--border-color);
}

header > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats {
    display: flex;
    justify-content: center;
    width: 100%;
}

.stats-col {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chart-bar {
    display: flex;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
}