@media (min-width: 800px) {
    .stats {
        gap: 10px;
    }

    .stats-col {
        flex-direction: row;
        gap: 10px;
    }

    .divider-v {
        display: none;
    }
}

@media (min-width: 960px) {
    .menu {
        display: flex;
    }

    .menu-burger {
        display: none;
    }

    .mobile-nav {
        display: none !important;
    }
}

@media (max-width: 960px) {
    .menu {
        display: none;
    }

    .menu-burger {
        display: block;
    }
}
