.divider-v {
    width: 2px;
    margin: 0 15px;
    background: var(--bg-color);
}

.label-success {
    background: var(--color-success);
    color: white;
    padding: 0 8px;
    border-radius: 4px;
}

.statistic {
    background: transparent;
    border: none;
    cursor: pointer;
}